li{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

h2{
    font-family: 'Roboto', 'Segoe UI', 'Open Sans', sans-serif;
}

q, .ex-but{
    font-family: 'Crimson Text', 'Palatino Linotype', Palatino, serif;
}

h3{
    font-family: 'PT Sans', Calibri, sans-serif;
}

h4{
    font-family: 'Open Sans', Calibri, sans-serif;
}

p, button{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

