/*Banner*/

#banner{
    background-image: url('../images/designing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

    #logo h1{
        display: none;
    }

        .logoImage{
            max-height: 120px;
            width: auto;
        }

/*Portfolio*/

.portfolioPicture img{
    width: 100%;
    box-shadow: 5px 5px 8px gray;
}

/*AboutMe*/

#aboutPicture img{
    width: 100%;
}

/*Contact*/

#networkIcons img{
    width: 100%;
}