.container{
    margin: auto;
}

/*Banner*/

#banner{
    ;
}

    #bannerQuote{
        position: absolute;
        top: 290px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #banner1{
        ;
    }

        #banner1-1{
            margin-top: -10px;
        }    
        
            #logo{
                position: relative;
                left: 10%;
                top: 60%;
                transform: translate(0, -50%);
            }

                #logo picture{
                    margin-left: -45px;
                }
            
                #logo h2{
                    margin-top: -10px;
                }

        #banner1-2{
            text-align: center;
        }

    #banner2{
        ;
    }

        #banner2-1{
            margin-top: -44px;
        }
    
            #banner2-1 h3{
                position: relative;
                top: 80%;
            }

        #banner2-2{
            margin-top: 20px;
        }

/*NavBar*/

nav{
    margin-top: -36px;
}

#navList{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

    #navList li{
        text-align: center;
    }

/*Portfolio*/

#portfolioHead{
    text-align: center;
}

.portfolioExample{
    display: flex;
    align-items: center;
}

    .portfolioPicture{
        ;
    }

/*Services*/

#serviceBullets{
    text-align: center;
}

    #serviceBullets p.ex-quo{
        margin-top: -15px;
    }

    #serviceBullets section{
        text-align: initial;
    }

#infographic{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin: 10px;
}

/*About Me*/

#about .container{
    text-align: center;
}

    #aboutInfo{
        text-align: initial;
        display: flex;
    }

/*Contact*/

#contact .container{
    text-align: center;
}

    #callButton section{
        text-align: initial;
    }

/*Quote*/

#quoteText{
    text-align: right;
}

/*Footer*/

footer{
    text-align: center;
}

    #footList{
        margin: 0%;
    }

        #footList li{
            text-align: center;
        }